[SddmGreeterTheme]
Name=Orion
Description=UaiSO Orion Theme
Author=Maurício de Lima
Copyright=(c) 2023, Maurício de Lima
License=CC-BY-SA
Type=sddm-theme
Version=0.1.0
#Website=https://github.com/vinceliuice/ChromeOS-kde
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=vinceliuice@hotmail.com
Theme-Id=Orion
Theme-API=2.0
